.dark-chocolate {
  background: #432828;
}
.bg-soft-pink {
  background: #f2e5e5;
}
.dark-brown {
  background: #473434;
}
.bg-charcoal {
  background: #3e3939;
}
.bg-brick-red {
  background: #efecec;
}
