/* Hide scrollbar but still scrollable */
.hide-scrollbar {
  overflow-y: auto; /* vertical scrollable */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
